@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  --font-sans: "Josefin Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-alata: "Alata";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (max-width: 576px) {
  /*
  body {
    background-image: url('vineyard.jpg');
  }

  #hero {
    background-image: url('desktop/vineyard.jpg');
    background-position: center;
  }
  */
}

@layer base {
  h3 {
    @apply mb-10 text-4xl font-bold text-dark-grayish-blue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-dark-grayish-blue;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.section-content {
  @apply max-w-3xl mx-auto leading-9 text-center text-grayish-blue;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0;
}

body {
  /*
  background-image: url('vineyard.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  */
}

#hero {
  background-image: url('desktop/vineyard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(95%);
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 200px;
}
